p {
  font-family: Roboto, serif;
}

.Container { 
  display: flex;
  height: 100vh;
}

.ChatNav {
  background-color: rgb(129, 129, 129);
  width: 25%;
}

.ChatArea {
  background-color: rgb(107, 107, 107);
  width: 75%;
}